# IDE and editor files
.idea/
asp.net_server/.idea/
flutter_app/.idea/
.vscode/


asp.net_server/bin/
asp.net_server/obj/
asp.net_server/*.csproj.user
asp.net_server/.vs/


flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.packages
flutter_app/.pub-cache/
flutter_app/.pub/
flutter_app/build/
flutter_app/ios/Flutter/flutter_export_environment.sh


.env
asp.net_server/.env
*.env
*.txt

